@{
    ViewData["Title"] = "About";

}
@model ASPIdentityTest1.Controllers.HomeController.OpenWeatherResponse
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is the Weather in the City you have chosen.</p>
<div>@Model.Name</div>
<div>@Model.Main.Temp</div>
<div>@Model.Weather.First().Main</div>